*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#words{

    width: 150px;
    height: 40px;
    font-size: 20px;
    display: none;
    margin:0 auto ;
    padding-left:50px ;
}

#words.active{
    display: block;
    transition: all 1s;
}
@keyframes heart {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}
#html{
    height: 50vh;
    overflow: auto;
}

#wrapper{
    height: 50vh;
}